.project_summary_container {
    background-color: white;
    margin: auto;
}

.project_summary_content {
    padding: 2px;
}

.project_table_content {
    :global {
        .ant-table-tbody > tr > td {
            // border: none;
        }
    }
}
