.device-detail-container {
    width: 100%;
    max-width: 1500px;
    padding: 10px 40px;
    background-color: white;
    @media (max-width: 425px) {
        padding: 5px 10px;
    }
}

.device-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-detail-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span {
        margin-left: 10px;
        font-size: 1.2rem;
        padding: 1px 8px 5px 8px;
        border-radius: 8px;
        @media (max-width: 400px) {
            margin-left: 0;
            padding: 10px 0 10px 10px;
            font-size: 1rem;
            width: 45vw
        }
    }
    .device-tag-active {
        background-color: #cbfaf0;
        color: #47b2a7;
    }
    .device-tag-no-active {
        background-color: #fadbd8;
        color: #e74c3c;
    }
    @media (max-width: 425px) {
        font-size: 1.5rem;
    }
}

.device-detail-date {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    color: #717883;
    margin-bottom: 10px;
    @media (max-width: 425px) {
        font-size: 1rem;
    }    
    &-icon {
        display: flex;
        justify-content: center;
        margin-right: 5px;
        font-size: 1.2rem;
        border-radius: 8px;
    }
}

.device-detail-navigate {
    display: flex;
    justify-content: left;
    padding: 10px 0;
    border-bottom: solid 1px #e8e9eb;
    div {
        margin: 2px;
        font-size: 1.1rem;
        border-radius: 10px;
        padding: 9px 17px;
        font-weight: 650;
        cursor: pointer;
        color: #989da6;
        @media (max-width: 425px) {
            font-size: 0.9rem;
        }
        &:hover {
            color: #5e6673;
            background-color: #f9fafb;
        }
    }
    &-select {
        background-color: #eef2ff;
        color: #6e68e9 !important;
        &:hover {
            background-color: #eef2ff !important;
            color: #6e68e9 !important;
        }
    }
}
