.task-view{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    max-width: 100%;
}

.task-control-container{
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.task-map {
    width: 100%;
}

.task-map-select {
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 10px;
}

.task-control-chart {
    height: 30vh;
    width: 100%;
    position: relative;
}
