.record-view{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    max-width: 100%;
    padding: 10px
}

.record-control-container{
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.record-map {
    width: 100%;
}

.record-control-chart {
    height: 30vh;
    width: 100%;
}
