.project_summary_container {
    background-color: white;
    margin: auto;
}

.project_summary_content {
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    background-color: #ebf5fb;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project_table_content {
    :global {
        .ant-table-tbody > tr > td {
            border: none;
        }
    }
}
