.machines-list-wrapper {
    margin: 10px;
    padding: 5px;
    border: solid 1px;
}

.machines-list-control {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.machines-list-table {
    margin: 5px;
}