.project-devices-container {
    border: groove 1px;
}

.project-devices-control{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.project-devices-control-report {

}

.project-devices-control-add {
    margin-right: 30px;
}
