.project_summary_container {
    max-width: 900px;
    /* margin: auto; */
    border: groove 1px;
    background-color: white;
    margin: 30px auto;
}

.project_summary_title {
    color: rgb(70, 70, 224);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    padding: 15px;
    border-bottom: groove 1px;
    align-self: center;
}

.project_summary_content {
    border: groove 1px;
    margin: 20px;
    padding: 5px;
}

.project_table_content {
    :global {
        .ant-table-tbody > tr > td {
            border: none;
        }
    }
}

.project_update_button {
    text-align: end;
    padding-right: 20px;
}
