.device_edit_container {
    background-color: white;
    margin: auto;
}

.device_edit_content {
    padding: 5px;
}

.device_table_content {
    :global {
        .ant-table-tbody > tr > td {
            // border: none;
        }
    }
}
