.ant-form-item {
    margin-bottom: 15px;
}

.login-wrapper { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center; 
    background-color: white;
}

.login-wrapper .login-logo {
    width: 80px;
    height: 80px;
    margin-top: 75px;
}

.login-wrapper .login-title {
    font-family:  'Roboto', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.login-wrapper .login-form .login-form-input {
    border: 2px solid #A9A9A9;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

.login-wrapper .login-form .input-username {
    background: url(../../assets/Login/username.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
}

.login-wrapper .login-form .input-password {
    background: url(../../assets/Login/password.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
}

.login-wrapper .login-form .login-form-input:focus {
    outline: none;
    border-color:#3B9E3E ;
    box-shadow: 0 0 10px #3B9E3E;
}

.login-wrapper .login-form .login-form-input:hover {
    outline: none;
    border-color:#3B9E3E ;
}

.login-wrapper .login-form .login-form-button {
    width: 250px;
    height: 40px;
    background-color: #3B9E3E ;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #3B9E3E;
    border-radius: 5px;
    margin : 0;
    margin-top: 20px;
}

.login-wrapper .login-form .login-form-button:hover {
    background-color: #ffffff;
    color: #3B9E3E;
}

.login-wrapper .login-form .login-form-forget-password { 
    display: none;
}



@media only screen and (max-width: 414px) and (min-width: 321px) {
    .login-wrapper .login-logo {
        width: 100px;
        height: 100px;
        margin-top: 80px;
    }
    .login-wrapper .login-title {
        font-size: 30px;
        line-height: 42px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    
    .login-wrapper .login-form .login-form-input {
        width: 300px;
        height: 45px;
        padding: 5px;
        font-size: 16px;
        line-height: 23px;
    }
    
    .login-wrapper .login-form .input-username {
        background-size: 23px;
        padding-left: 45px;
    }
    
    .login-wrapper .login-form .input-password {
        background-size: 23px;
        padding-left: 45px;
    }
 
    .login-wrapper .login-form .login-form-button {
        width: 300px;
        height: 45px;
        font-size: 20px;
        line-height: 32px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .login-wrapper .login-logo {
        width: 100px;
        height: 100px;
        margin-top: 80px;
    }
    .login-wrapper .login-title {
        font-size: 30px;
        line-height: 42px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    
    .login-wrapper .login-form .login-form-input {
        width: 300px;
        height: 45px;
        padding: 5px;
        font-size: 16px;
        line-height: 23px;
    }
    
    .login-wrapper .login-form .input-username {
        background-size: 23px;
        padding-left: 45px;
    }
    
    .login-wrapper .login-form .input-password {
        background-size: 23px;
        padding-left: 45px;
    }
 
    .login-wrapper .login-form .login-form-button {
        width: 300px;
        height: 45px;
        font-size: 20px;
        line-height: 32px;
        margin-top: 20px;
    }
}