.record-info-container {
    display: flex;
    margin-left: 20px;
}
.record-info-control-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 30px;
    margin-top: 300px;
    border-radius: 5px 0 0 5px;
    font-size: 1.3rem;
    background-color: #e2e2e2;
}

.record-info-content-show {
    display: block;
    
    width: 340px;
    padding: 50px 0 20px 0;
    border-radius: 0 0 5px 5px;
    
    transition: width 0.1s linear;
    overflow: hidden;
    
    box-shadow: 3   px 3px 3px rgba(68,68,68,0.6);
    background-color: #e2e2e2;
}

.record-info-content-hide {
    display: block;
    
    width: 0px;
    padding: 50px 0 20px 0;
    border-radius: 0 0 5px 5px;
    
    transition: width 0.1s linear;
    overflow: hidden;
    
    box-shadow: 3   px 3px 3px rgba(68,68,68,0.6);
    background-color: #e2e2e2;
}

.record-info-item-divider {
    margin: 10px 0;
}

.record-info-item {
    text-align: left;
    padding: 0 20px;
    white-space: nowrap;
}

.record-info-item-icon {
    display: inline;
    margin-right: 10px;
}

.record-info-item-title {
    font-weight: bold;
    font-size: 1rem;
}

.record-info-item-content {
    margin-left: 34px;
    font-size: 1rem;
}