.status-tag {
    padding: 5px;
    // border-radius: 15px;
    display: flex;
    align-items: center;
    color: #e74c3c;
    text-align: center;
    font-weight: 500;
    :first-child {
        font-size: 1.3rem;
        margin-right: 2px
    }
    &-active {
        @extend .status-tag;
        color: #47b2a7;
    }
}

