.device_summary_container {
    background-color: white;
    margin: auto;
}

.device_summary_content {
    border: groove 1px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.device_table_content {
    flex-grow: 1;
    :global {
        .ant-table-tbody > tr > td {
            // border: none;
        }
    }
}
