.device_summary_container {
    background-color: white;
    margin: auto;
}

.device_summary_content {
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    background-color: #EBF5FB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.device_table_content {
    flex-grow: 1;
    :global {
        .ant-table-tbody > tr > td {
            // border: none;
        }
    }
}
