.profile-dashboard-wrapper {
}

.profile-dashboard-container {
    padding: 20px;
}

.profile-dashboard-info {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    &-avatar {
        margin-right: 20px;
        img {
            height: 60px;
        }
    }
    &-name {
        font-size: 1.3rem;
        font-weight: 600;
    }
    &-role {
        font-size: 1rem;
        color: gray
    }

}
.profile-dashboard-avatar {

}

.profile-dashboard-item-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0
}

.profile-dashboard-item-icon {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    background-color: #EBF5FB;

    &:first-child {
        font-size: 25px
    }
}
.profile-dashboard-item-label {
    font-size: 1.2rem;
    margin-left: 20px;
    color: #3c5a7a;
    font-weight: 500;
}

.profile-dashboard-item-arrow {
    margin-left: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.profile-dashboard-logout {
    width: 150px;
    padding: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    background-color: #EBF5FB;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    &-icon {
        margin-left: 10px;
        display: flex;
        align-items: center;
        &:first-child {
            font-size: 22px;
            color: red;
        }
    }
    &-title {
        margin-left: 18px;
        font-size: 1.2rem;
        font-weight: 600;
    }
}