.active-device-list-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.active-device-item {
    background-color: #c2e0fb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: 120px;
    padding: 20px;
    padding-left: 30px;
    margin: auto;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}

.active-device-info {
    text-align: left;
    font-weight: 600;
    font-size: 1.4rem;
}

.active-device-detail-link {
    display: flex;
    a {
        align-self: center;
        margin-right: 20px;
        font-size: 1.2rem;
        font-weight: 600;
        // color: white;
    }
}