.active-device-list-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.active-device-task {
    text-align: left;
}
.active-device-list-container {
    padding: 20px;
    text-align: left;
    max-width: 1500px;
}

.active-device-list-title {
    font-size: 2.4rem;
}

.active-device-list-content {
    text-align: left;
}

.active-device-task-item {
    margin: 10px 10px 0 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f7;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover {
        background-color: #dbe0e4;
    }
}
