.user_detail_container {
    margin: auto;
    max-width: 900px;
    background-color: white;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    .user_table_content {
        flex-grow: 2;
    }
    .user_avatar {
        flex-grow: 1;
        img {
            display: block;
            width: 200px;
            margin: 20px;
        }
    }
}

.user_detail_title {
    color: rgb(70, 70, 224);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    padding: 15px;
    border-bottom: groove 1px;
    align-self: center;
}

.user_detail_content {
    border: groove 1px;
    margin: 20px;
    padding: 5px;
}

.user_update_button {
    text-align: end;
    padding-right: 20px;
}

.antd_footer {
    display: flex;
    justify-content: space-between;
}

.user_back_button {
    display: flex;
    align-items: center;
    svg {
        margin-right: 5px;
    }    
}
