.home-content {
    padding: 20px;
    height: 100vh;
    overflow: auto;
    @media (max-width: 400px) {
        padding: 0
    }
}


.control-menu {
    height: calc(100% - 70px);
    margin-top: 70px;
}


.home-dashboard {
    .function-menu {
    }
}