.machine_edit_container {
    background-color: white;
    margin: auto;
}

.machine_edit_content {
    border: groove 1px;
    padding: 5px;
}

.machine_table_content {
    :global {
        .ant-table-tbody > tr > td {
            border: none;
        }
    }
}
